<br /><br /><hr />
<h4>Festival Criterium</h4>
<div class="control-group">
  <%= f.label :name, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :name, class: 'input-xlarge', placeholder: 'Festival/ Event name*', size: 46, required: true %>
  </div>
</div>
<br /><br /><hr />
