<h3>Hi <%= @user.name %>,</h3>
<p>Thank you for your subscription with us. We know that you must be craving for your candies and we won't keep you much waiting. We'll ship the candies as soon as possible and keep you updated on the progress.</p>
<p>Please find your subscription recipt with this email and you can also view details and status of the subscription online on our website if you have an account with us.</p>

<p>Thanks,</p>
<p>ChewCandy</p>
