        <!-- Start home section -->
        <div id="home">
          <!-- Start cSlider -->
          <div id="da-slider" class="da-slider">
            <div class="triangle"></div>
            <!-- mask elemet use for masking background image -->
            <div class="mask"></div>
            <!-- All slides centred in container element -->
            <div class="container">
              <!-- Start first slide -->
              <div class="da-slide">
                <h2 class="fittext2">Welcome to chew candy!</h2>
                <h4>India's First Online Candy Store</h4>
                <p>We have an exotic range of candies chosen by our candy aficionados to satiate your taste buds.</p>
                <a href="#candyProducts" class="da-link button">Explore Now</a>
                <div class="da-img">
                  <img src="/assets/slider1.png" alt="image01" width="1100">
                </div>
              </div>
              <!-- End first slide -->
              <!-- Start second slide -->
              <div class="da-slide">
                <h2>Subscription Plans</h2>
                <h4>Make each month special</h4>
                <p>We make monthly boxes chosen selectively to make each month special and exciting. </p>
                <a href="#subscriptions" class="da-link button">Subscribe Now</a>
                <div class="da-img">
                  <img src="/assets/images/Slider05.jpg" width="320" alt="image02">
                </div>
              </div>
              <!-- End second slide -->
              <!-- Start third slide -->
              <div class="da-slide">
                <h2>Buying Process</h2>
                <h4>It's Simple</h4>
                <p>
                  1. Pick your candy<br />
                  2. Decide Quantity<br />
                  3. Add to cart<br />
                  4. Checkout from your candy bag
                </p>
                <p></p>
                <div class="da-img">
                  <img src="/assets/images/Slider06.jpg" width="320" alt="image03">
                </div>
              </div>
              <!-- Start third slide -->
              <!-- Start cSlide navigation arrows -->
              <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
              </div>
              <!-- End cSlide navigation arrows -->
            </div>
          </div>
        </div>
        <!-- End home section -->