
  <!-- Start home section -->
  <div id="home">
    <!-- Start cSlider -->
    <div id="da-slider" class="da-slider">
      <!-- <div class="triangle"></div> -->

      <!-- mask elemet use for masking background image -->
      <div class="mask"></div>
      <div id="carousel-example" class="carousel slide" data-ride="carousel" >

        <div class="carousel-inner">
          <!-- <div class="item active">
            <img src="/assets/home/home1-min.png" class="img-responsive" alt="ChewCandy Christmas" />
          </div> -->
          <div class="item active">
            <img src="/assets/home/home3-min.png" class="img-responsive" alt="ChewCandy New Year" />
          </div>
          <div class="item">
            <img src="/assets/home/home2-min.png" class="img-responsive" alt="ChewCandy" />
            <!-- <div class="carousel-caption">
              <h3>Welcome to ChewCandy</h3>
              <p>Follow our tour to know how to use our site.</p>
            </div> -->
          </div>
        </div>
        <ol class="carousel-indicators">
          <!-- <li data-target="#carousel-example" data-slide-to="0" ></li> -->
          <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example" data-slide-to="1"></li>
        </ol>
      </div>
      <!-- All slides centred in container element -->
      <!-- <div class="container">
        <img src="/assets/home.jpg" usemap="#homeImage" alt="image01" width="1100" class="img-responsive" style="min-width: 125%; height: 100%;margin-left: -13%;">
      </div> -->
    </div>
  </div>
  <!-- End home section -->
