<div class="section secondary-section" id="myOrders">
  <div class="section third-section" id="checkoutForm" style="min-height: 530px;">
    <div class="container newsletter">
      <div class="sub-section">
        <div class="title clearfix">
          <div class="pull-left">
            <h3>About Us</h3>
          </div>
        </div>
      </div>
      <p class="static-content">
        <b>ChewCandy - Nothing as sweet as our candies. </b>
        <br /><br />
        A new candy revolution is around the horizon. Our mission is to sweeten your day.
        We will attack you taste buds with our sweetness.
        <br /><br />
        Chewcandy is an initiative to enable users to select and purchase from a wide variety of sweetners.
        We are new but enthusiastic, product qulaity and timely delivery is our highest priorty.
        Now you will never have to search for candies in the grey streets, we bring them to your home.
        <br /><br />
        We believe in spreading sweetness, and our market research says the Indian household can take surplous sweetness.
        Seeing the lack of candy purchasing options available in the online, a small team f us nerds decided that we will provide our people with what every age group needs - Sweetness!!
      </p>
      <div class="sub-section">
        <div class="title clearfix">
          <div class="pull-left">
            <h3>About Our Founders</h3>
          </div>
        </div>
      </div>
      <div style="width: 300px;float: left">
        <%= image_tag 'founders/udit.png' %>
        <p>
          Udit Mittal
          <br />
          Founder
        </p>
      </div>
    </div>
  </div>
</div>
