<div class="section secondary-section" id="myOrders">
  <div class="section third-section" id="checkoutForm" style="min-height: 530px;">
    <div class="container newsletter">
        <div class="sub-section">
          <div class="title clearfix">
            <div class="pull-left">
              <h3>Privacy Policy</h3>
            </div>
          </div>
        </div>
            <p class="static-content">
            <strong>
              ChewCandy takes the privacy of its users seriously. We are committed to safeguarding the privacy of our users while providing a personalised and valuable service. This Privacy Policy statement explains the data processing practices of www.chewcandy.com. If you have any requests concerning your personal information or any queries with regard to these practices please <%= link_to 'contact us', root_path + '#contact', style: 'color: white; text-decoration: underline;' %>.
            </strong>
              <ol>
                <li>ChewCandy collects personal information when you register or when you provide such information voluntarily.</li>
                <li>We use cookies and other technologies to find out how you use ChewCandy.</li>
                <li>Chewcandy accesses information automatically when you visit our site. This information includes URL, IP-address, browser-type, language as well as date and time of your visit.</li>
                <li>We don't pass on personal information to any third party beyond other Chewcandy users as specified above without your explicit approval.</li>
                <li>Only summarized de-personalized information is provided to third parties.</li>
                <li>Personal information is used for providing services requested by the user including services with personalized content.</li>
                <li>Additionally, we use your personal information for internal research in order to improve your online experience as well as our technologies and services.</li>
              </ol>
            </p>
    </div>
  </div>
</div>
