<div class="section secondary-section" id="myOrders">
  <div class="section third-section" id="checkoutForm" style="min-height: 530px;">
    <div class="container newsletter">
        <div class="sub-section">
          <div class="title clearfix">
            <div class="pull-left">
              <h3>Terms &amp; Conditions</h3>
            </div>
          </div>
        </div>
            <p class="static-content">

              The Website Owner, including subsidiaries and affiliates (“Chewcandy.com” or “Chewcandy” or “we” or “us” or “our”) provides the information contained on the website or any of the pages comprising the website (“website”) to visitors (“visitors”) (cumulatively referred to as “you” or “your” hereinafter) subject to the terms and conditions set out in these website terms and conditions, the privacy policy and any other relevant terms and conditions, policies and notices which may be applicable to a specific section or module of the website.
              <br /><br />
              Please keep in mind that 'chewcandy.com' is a registered website domain and any use of it without prior permission might lead to strong legal action.
              <br /><br />
              <b class="special-text">Terms of Sale:</b>
              <br /><br />
              Every attempt is made to bring you top quality products but considering the nature of the items, warranty of the product is not available unless specified.
              We try best to describe the item as is. However, due to digital image capture effects, there is a possibility that colors and texture may look different. Please ask any questions before placing the order.
              Normally, we take 5-7 business days to ship from the day we receive your order.
              <br /><br />
              <b class="special-text">Shipping Delay:</b>
              <br /><br />
              We are not responsible for any delay, if the shipment is delayed by the shipping agency due to their internal faults or due to unavailibility of recipient when shipping agency try to deliver the package. We guarantee the delivery in secured packaging to your door step through shipping agencies (UPS, FedEx etc.), however customer is solely reponsible for package's security after the delivery. For an example, if the package is left at appartment bulding's security area or at reception because of prohibation of delivery person to enter the premises or because the customer's unavailable to receive the package.
              <br /><br />
              If you do not receive confirmation or invoice emails (mainly due to spam filters etc), please contact us.
              For a special or preferred delivery date, delivery date must be mentioned in the website’s message box while placing their orders. If the order does not contain any delivery date then it will be delivered at the first opportunity as early as possible. However, any dates for delivery are approximate only and the company is not liable for any delay in delivering your order. 
              Shipping charges are applicable on all products, other than specified. To avail the quickest confirmed delivery on all orders to India, please make sure to include the complete postal address mentioning the correct PIN code. Kindly note, that we are not responsible for any sorts of postal delays resulting from incomplete address listings. 
               <br /><br />
              <b class="special-text">Custom Charges:</b>
              <br /><br />
              VAT, Custom Taxes or any other charges are not included in our ordering process but may be charged to you by your border/custom agency, or any government agency. So, the international customers are responsible for any customs or duty fees levied by their country. In any case, these charges are on customer's account whether at the time or receiveing or returning the item. We prefer keeping the package value low to avoid any kind of other charges.
               <br /><br />

              <b class="special-text">Color and Description Disclaimer:</b>
              <br /><br />
              A customer must fix an order keeping in mind some minor variation in color, as seen on a computer screen against the actual color of the outfit received. It is sometimes little tough for us to replicate the same color as seen on a computer screen. Although extra attention is given to reproduce the colors accurately, still there may be minor variations in color of an actual product due to the nature of fabric dyes. A variation in shade is considered as a normal practice as these garments have a tendency to reflect different shades of color under different lights. 
              <br /><br />
               

              <b class="special-text">Availibility:</b>
              <br /><br />
              All of the products are available unless it is specified. However, there is a possibility of the product to be unavailable at anytime due to higher volume, damage or other unforeseen reasons. 
              <br /><br />
              <b class="special-text">Return Policy:</b>
              <br /><br />
              We believe in giving 100% satisfaction to our clients. Though if you are not happy, you can contact us within 24 hours after you receive the product and ask for return. No return will be entertained for customized products. Restocking fees will be charged to the customer and customer has to bear the cost of shipping the product back.  Customer must return the product within 48 hours after receiving it.
              <br /><br />
              Custom, Oversize, or hazardous items cannot be returned. Items that have been used will not be accepted as returns. Items which have any stains, emit, body odours or perfume scents, have any kind of marks, damages or water stains will not be accepted for returns. We are not responsible for any damage occur while shipping once it is shipped from our end. We check the product thoroughly for quality and any existing damage before we ship.
              <br /><br />
              In case of Return, we normally take 5-7 working days after collection of returned item.
              <br /><br />
               

              <b class="special-text">Offers:</b>
              <br /><br />
              All offers are final sale(such as huge discounts, buy x and get y free or buy 2 get 1 free etc.). Offers can not be conbined with other current or past promotions. There are no ammendments or changes can be made once the order is placed nor the order can be cancelled or returned once it is received. Since, the order is hugely discounted, our intentions are to serve customers with good products at very low price rather than generating any revenue. We build clientle by giving huge offers to our loyal customers. 
               <br /><br />

              <b class="special-text">Cash On Delivery(COD):</b>
              <br /><br />
              Cash on delivery(COD) is available for customers within India only. Customized and Bollywood items, made to order outfits are not available through the facility of Cash on delivery. For those items, payment must be made in advance through our online payment processing.
              <br /><br />
              Cash on Delivery orders can be opened by customers only if amount is paid to courier service. Cash on delivery orders can not be returned or exchanged. 
              <br /><br />
              All discount copons, special offers are NOT applicable on cash on delivery orders.
               <br /><br />
            </p>
    </div>
  </div>
</div>
