<p><%= @user.name %> has cancelled his/her order.</p>
<p>
  <%= link_to 'Click here to look at the order', order_url(@order) %>
</p>
<% if @order.refund.present? %>
<p>
  Reason Given: <%= @order.refund.comments %>
</p>
<% end %>