<!-- Modal -->
<div class="modal fade hidden special-modal action-modal" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
 
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h4 class="modal-title" id="myModalLabel">Please provide the reason for your refund</h4>
      </div>
 
      <div class="modal-body">
        <br />
        <%= form_for(order, url: refund_users_order_path(order), method: :patch) do |f| %>
          <%= f.text_area :refund_reason, placeholder: 'Comments*', rows: 10 %>
        <br />
            
      </div>

      <div class="modal-footer">
        <%= f.submit 'Refund', class: 'button button-sp' %>
        <% end %>
      </div>

    </div>
  </div>
</div>