.upper-bar {
  background-color: #000;
  border-top: #FECE1A 3px solid;
  padding: 3px;
  max-height: 25px;
}

.clear {
  clear: both;
}

/* Related to texts */
.text-error {
  color: #c13100;
}

.text-unit {
  font-style: italic;
  font-weight: normal;
}

.small-font-size {
  font-size: 12px;
}

.hidden-with-space {
  visibility: hidden;
}

.center-image {
  margin: auto;
  width: 300px;
}

.hidden {
  display: none;
}

.special-text {
  color: #FECE1A;
}

.special-text-blue {
  color: #006699;
}

.normal-text {
  color: #fff;
}

.note-text {
  color: #000;
  font-size: 10px;
  text-align: left;
}

/* Related to Error Messages */
.alert-error-theme {
  background-color: #c13100;
  color: #fff;
  margin-bottom: 0px;
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.alert-success-theme {
  background-color: #097054;
  color: #fff;
  margin-bottom: 0px;
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.alert-error-theme button, .alert-success-theme button {
  margin-bottom: -10px;
}

.modal .alert-error {
  background-color: #c13100;
  width: 70%;
  color: white;
}

.alert .close {
  top: -10px;
}

/* Modal CSS */

.modal.special-modal {
  background-image: url(/assets/modal_bg.jpg);
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0.9;
}

.special-modal .modal-header, .special-modal .modal-footer {
  background-color: rgba(252, 205, 28, 0.6);
  height: 55px;
}

.special-modal .modal-header h4 {
  text-align: center;
  font-family:'Porta';
  font-size: 22px;
  color: #333;
  font-weight: bold;
}

.special-modal .modal-body {
  margin-left: 60px;
}

.special-modal .modal-body input {
  height: 30px;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #000;
}

.modal.special-modal .button {
  border: 2px solid black;
}

.modal-link-body {
  margin-top: 10px;
  font-weight: bolder;
  color: #fff;
  background-color: rgba(0,0,0,0.3);
}

.modal-link-bottom {
  position: absolute;
  left: 10px;
  margin-top: 10px;
  font-weight: bolder;
  color: #000;
}
.modal-link-bottom:hover {
  color: #fff;
}

.modal.special-modal textarea {
  background-color: #5f1e02;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-right: 60px;
  width: 85%;
}

.button-bl {
  background-color: #000;
  color: #fff;
}

/* Buttons */
.button-bl:hover {
  background-color: #fff;
  color: #000;
}

/* Account menu related */
.account-menu-drop-down {
  width: 200px;
  background-color: rgba(0,0,0,0.9);
  color: white;
  border: 1px solid #ccc;
  margin-left: -100px;
  margin-top: 20px;
}

.account-menu-drop-down > li > a {
  color: #fff;
}

.account-menu-drop-down > li:hover {
  color: #ccc;
  background-color: rgba(0,0,0,0.9);
}

.account-menu-drop-down > li:hover > a {
  color: #ccc;
  background-color: rgba(0,0,0,0.9);
}

/* Shopping cart related */
input.add-quantity {
  background-color: transparent;
  text-align: center;
  color: white;
  
}

input.full-width {
  min-width: 100%;
}

input.almost-full-width {
  width: 95%;
}

button.add-to-cart {
  cursor: pointer;
}

.shopping-cart-drop-down {
  left: -220px;
  width: 400px;
  background-color: rgba(0,0,0,0.9);
  color: white;
  border: 1px solid #ccc;
}

.shopping-cart-drop-down table tr td {
  width: 50px;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.shopping-cart-drop-down table tr td:first-child {
  width: 170px;
  font-weight: bold;
}

.shopping-cart-drop-down table tr td:last-child {
  border-right: none;
  cursor: pointer;
}

.hidden {
  display: none;
  width: 30px;
}

.ui-effects-transfer {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

a.cart-container-button, button.cart-container-button {
  width: 150px;
  color: #fff;
}

/* Related to checkout */
.checkout-form {
  margin: 0 auto;
  border: 1px solid #000;
  padding: 5px;
}

.checkout-form tr td{
  padding: 5px;
}

.checkout-order-details {
  color: #333;
  background-color: #fff;
  padding: 10px;
  font-weight: bolder;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin: auto;
}

.checkout-order-details tr td, .checkout-order-details tr th {
  border-right: 1px #ccc solid;
  padding: 5px;
}

.checkout-order-details tr td:last-child, .checkout-order-details tr th:last-child {
  border: none;
}

.checkout-order-details thead {
  font-size: 20px;
  color: #FECE1A;
}

.checkout-order-details tbody, .checkout-order-details tfoot {
  border-top: 1px solid #ccc;
}

.checkout-order-details tbody {
  font-weight: normal;
}

.checkout-order-details tfoot tr:last-child {
  color: #FECE1A;
}

#checkoutForm {
  margin-bottom: -43px;
}

.order-checkbox {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px;
  padding-top: 5px;
  margin-bottom: 20px;
  margin-right: 5px;
  background-color: white;
}

.order-checkbox label {
  display: inline-block;
  float: left;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 10px;
  color: #999999;
}

.order-checkbox input {
  float: left;
}

.address-select {
  height: 50px;
}

.error-checkout-container {
  border: 1px solid #fff;
  margin: auto;
  margin-top: 10px;
  width: 82%;
  background-color: #c13100;
  color: #fff;
  padding: 20px;
}

.error-checkout-container li {
  list-style: square;
}

/* Related to orders table */
.table-info {
  color: #333;
  background-color: #fff;
  padding: 10px;
  font-weight: bolder;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin: auto;
  width: 100%;
}

.table-info > thead {
  text-align: left;
  font-size: 20px;
  color: #FECE1A;
}

.table-info > thead > tr > th {
  height: 50px;
}

.table-info tr td, .table-info tr th {
  border-right: 1px #ccc solid;
  padding: 10px;
}

.table-info tr td:last-child, .table-info tr th:last-child {
  border: none;
}

.table-info tbody, .table-info tfoot {
  border-top: 1px solid #ccc;
}

.table-row-seperator {
  border-top: 1px solid #ccc
}

td.table-category-divider {
  color: #FECE1A;
  text-align: center;
}
tr.table-category-divider {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.center-image .button-sp {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  color: #993366;
  border: solid 1px #000;
}

.center-image .button-sp:hover {
  background-color: #669966;
  color: #FECE1A;
  border: solid 1px #000;
}

/* ADMIN SECTION */
.admin-section h3 {
  color: #1B6AA5;
  border-bottom: 1px dotted #000;
  background-color: #ccc;
}

.admin-section table tr td {
  padding: 10px;
}

/* Custom special forms */
div.special-dark-form-element-container {
  margin: auto;
  width: 500px;
  margin-top: 100px;
}

input.special-dark-form-element {
  background-color: transparent;
  border: none;
  border-bottom: 1px #fff solid;
  height: 40px;
  font-size: 20px;
  color: #fff;
  border-radius: 0px;
}

input.special-dark-form-block-element {
  width: 97.5%;
}

/* FOR OVERLAP IMAGES (VEG/NONVEG) */
.overlap-image-container {
  position: relative;
}

.over-image {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #fff;
  opacity: 0.8;
  width: 40px;
  max-width: 40px;
  height: 40px;
}

/* Static page content*/
p.static-content {
  color: white;
  text-align: justify;
}
a.footer-static-links {
  color: white;
}